/* Reset Styles */

body {
    background: scroll;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #505050;
}


/* Header Styles */
header {
    background: linear-gradient(301deg, #1a1a74, #000);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.headeraH1 {
    margin: 0;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav ul {
    background-color: #000000;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 7px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #505050;  /* Darker shade for hover */
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 3px;
    max-width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
}

.services {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
}

main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.service-column h3 {
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
.cta-container{
    padding: 20px;
    background-color: #ad9ecf;
    margin-top: 20px;
    text-align: center;
    border: 1px #000000;
    border-style: double;
    
}

.cta-container h2{
    font-size: 24px;
    text-transform: capitalize;
}

.cta-container p {
    font-size: 18px;
    font-weight: bold;
}

.cta-button {
   display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ad9ecf;
    color: #000000;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

footer a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}
